.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/
DS6306 Group Project 1.mp4
Group Project 1.tscproj
ppt iterations/DS6306 Group Project 1 Final.pptx
ppt iterations/DS6306 Group Project 1 v2.pptx
ppt iterations/DS6306 Group Project 1.pptx
ppt iterations/Thad_Schwebke_Group Project 1.pptx
Thad_Schwebke_DDS6306-Group-Project-1.zip
Thad_Schwebke_DS6306_Group_Project_1.pptx
Thad_Schwebke_Peer Review 1.docx
Thad_Schwebke_Peer Review 2 and Group Project 1.docx
